.component {
    display: flex;
    justify-content: center;
    margin-block-start: 0 !important;

    .controls {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        z-index: 100;
        position: fixed;
        bottom: 1vh;
        width: 80vw;
        width: auto;
        height: 3em;
    }
}