.component {
    display: flex;
    flex-direction: row;

    --colWidth: 18em;

    .controls {
        width: clamp(var(--colWidth), var(--colWidth), 20vw);
    }

    .map {
        width: clamp(calc(100% - var(--colWidth)), calc(100% - var(--colWidth)), 80vw);
        height: 100vh;
    }
}